h3 {
    font-size: 25px !important;
}

.btn-warning:hover{
    background-color: rgb(224, 50, 237);
    color: black;
}

canvas{
    animation-name: goofy;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes goofy {
    from{box-shadow: 1px 1px 38px rgb(35, 217, 18);}
    to{box-shadow: 1px 1px 38px rgb(10, 214, 229);}
}